<a href="https://colab.research.google.com/github/MirzaGe/Pandas/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'A':[1,2,np.nan,4],
                'B':[5,np.nan,np.nan,8],
                'C':[10,20,30,40]})

In [4]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40